#container {
  width: 1000px;
  height: 1000px;
  border: solid 1px black;
}

.grid {
  width: 600px;
  height: 600px;
  display: flex;
  /* grid-template-columns: auto auto auto auto auto auto auto; */
  flex-wrap: wrap;
  /* align-items: flex-start; */
  /* margin-left: 100px; */
}

.draw-box {
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  /* flex-shrink: 0; */
  /* flex-grow: 1;*/
  /* flex: 1; */
  /*align-self: stretch;*/
  justify-content: flex-start;
}
